---
title: Archives
layout: default
header-img: "img/bg/bg_archive.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br>
            <br>
			{% for post in site.posts %}
				{% unless post %}
				{% else %}
					{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
					{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
					{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
					{% if year != nyear %}
                        {% if year != '2018' %}
                        <hr>
                        {% endif %}
						<span class="fa fa-archive listing-seperator " id="y{{ post.date | date: '%Y' }}">
							<span class="tag-text">{{ post.date | date: '%Y' }}</span>
						</span>
                        <br>
                        <br>
					{% endif %}
                    {% if month != nmonth %}
							<strong>{{ post.date | date: '%b' }}</strong>
					{% endif %}
				{% endunless %}
					<li style="font-size:18px">
						<a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp&nbsp
                        <time>
							<small>{{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.</small>&nbsp&nbsp
						</time>
					</li>
			{% endfor %}
            <hr>
		</div>
	</div>
</div>
